<html>
  <head>
    <title>Page Potin</title>
  </head>
  <body>
    <h1>Page Potin</h1>
    <h2>Voici la page du potin n° <%= id %> </h2>
    <h2>Son auteur : <%= gossip.author %> </h2>
    <h2>Le contenu du potin : <%= gossip.content %> </h2>
    <a href="/"> Lien pour revenir à la page des potins </a>
  </body>
</html>