<html>
  <head>
    <title>Page Gossip</title>
  </head>
  <body>
    <h1>Page Gossip</h1>
    <h1>Voici la page du gossip n° <%= id %> </h1>
    <h2>Son auteur : <%= gossip.author %> </h2>
    <h2>Le contenu du potin : <%= gossip.content %> </h2>
    <a href="/gossips/<%= id %>/edit/"> Modification du Gossip </a></br>
    <a href="/"> Lien pour revenir à la page des Gossips </a>
  </body>
</html>